root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ktlint_standard_function-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_value-parameter-comment = disabled
ktlint_standard_property-naming = disabled

[*.xml]
indent_size = 4

[*.{json,yaml,yml,md}]
indent_size = 2
