# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Windows command scripts require CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.keystore binary
*.jks binary
